html {
    scroll-behavior: smooth;
}

body {
    background-color: #F6F6F6;
    margin-left: 0px;
    margin-right: 0px;
}

.header_mobile{
    display: none;
}

header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    box-sizing: border-box;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    animation: slideDown 0.3s ease-out;
}

header.fixed .logo {
    display: none;
}

.logo {
    height: 2rem;
    transition: .3s ease;
}

.logo:hover {
    opacity: 60%;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 2rem;
}

nav a {
    text-decoration: none;
    color: #000000;
    font-size: 1rem;
    transition: color 0.3s ease;
}

nav:hover a {
    color: rgba(0, 0, 0, 0.3);
}

nav a:hover {
    color:#000000;
}


.container {
    margin: 0 auto;
    max-width: 980px;
}

.home {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: top;
    background: url('./assets/home_background.png') bottom/contain no-repeat;
}

.name {
    margin-top: -10rem;
    text-align: center;
    font-size: 8rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.title {
    margin-top: -2rem;
    text-align: center;
}

.expertise {
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.expertise h2 {
    margin-top: 0px;
    font-size: 5rem;
}

.expertise-container {
    display: flex;
    justify-content: space-around;
}

.expertise-item {
    flex: 1;
    /* margin-block: 3rem; */
    padding-block: 5rem;
    padding-inline: 3rem;
    border: 1px solid #ccc;
}

.work {
    height: 100vh;
    text-align: left;
    display: flex;
    flex-direction: row-reverse;
    gap: 7rem;
    align-items: center;

}

.work h2 {
    margin: 0;
    font-size: 5rem;
    line-height: 1;
    width: 15%;
}

.allboro_container{
    display: flex;
    flex-direction: column;
}

.allboro_description {
    width: 40ch;
}

.allboro_image {
    max-height: 65%;
    object-fit: contain;

}

.allboro_container button{
    width: max-content;
    padding: 0.5rem 1.5rem;
    background: #000000;
    border-radius: 5px;
    border-width: 0;
    appearance:unset;
    font-size: 1rem;
    cursor: pointer;
}

.allboro_container a{
    text-decoration: none;
    color: #FFFFFF;
}

.allboro_container button:hover {
   opacity: 80%;
}

.contact {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1,
h2 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 0rem;
}

h3 {
    font-family: "Amiko", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 1.5rem;
}

p,
li {
    font-family: "Amiko", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@media (max-width: 960px) {

    
    .header{
        display: none;
    }

    header.fixed{
        display: none;
    }


    .header_mobile{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: right;
    }
 
    .initial{
        align-items: start;
        margin: 0 auto;
        padding-right: 0;
    }

    .name {
        font-size: 5rem;
        margin-top: 0rem;
        margin-bottom: 2rem;
    }

    .title {
        text-align: center;
    }

    .expertise-container {
        flex-direction: column;
        margin-top: 2rem;
    }

    .expertise {
        margin-top: 3rem;
    }

    .expertise h2 {
        font-size: 2.5rem;
    }

    .work {
        margin-top: 3rem;
        flex-direction: column;
    }

    .work h2 {
        font-size: 2.5rem;
    }

    .work p {
        width: 30ch
    }




}