/* FONTES */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&display=swap');

/* GLOBAL */
@import url('./styles/colors.css');

/* *,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  appearance: none;
  border: none;
  color: inherit;
  background: none;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h1 > *,
h2 > * {
  font-family: Montserrat, Bebas Neue, sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

#root {
  position: relative;
} */
