/* FONTES */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&display=swap');

/* GLOBAL */
@import url('./styles/colors.css');

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f6f6f6;
  margin: 0px;
}

.dark-mode {
  background-color: #000000;
  color: #f6f6f6;
}

.dark-mode nav a {
  color: #f6f6f6;
}

.dark-mode nav:hover a {
  color: rgba(255, 255, 255, 0.3);
}

.dark-mode nav a:hover {
  color: #f6f6f6;
}

.container {
  margin: 0 auto;
  max-width: 980px;
}

.container1 {
  background-color: #0e0f11;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.container1 h2 {
  color: #ffffff;
  font-size: 3rem;
}

.container1 a,
.container1 p {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5rem;
}

.container1 a:hover {
  opacity: 60%;
}

/* .container2{
    background-color:#333333;
    height: 100%;
}

.container3{
    background-color: #666666;
    height: 50%;

}

.container4{
    background-color: #999999;
    height: 50%;

} */

h1,
h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-bottom: 0rem;
}

h3,
dt {
  font-family: 'Amiko', sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 1.5rem;
}

p,
li,
a,
dd,
button {
  margin: 0;
  font-family: 'Amiko', sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 960px) {
  .container1 {
    display: flex;
    background-color: #0e0f11;
    padding-bottom: 3rem;
  }

  .container1 h2 {
    color: #ffffff;
    font-size: 2.5rem;
  }

  .container1 p {
    font-size: 1rem;
  }

  .container1 a {
    font-size: 1rem;
  }

  /* .container2{
        background-color: red;
        height: 100%;
    }
    
    .container3{
        background-color: green;
        height: 50%;
    
    }
    
    .container4{
        background-color: blue;
        height: 50%;
    
    } */
}
